<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.www.thymeleaf.org/extras/spring-security">
<head>
    <title>Просмотр заявки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">

    <div th:each="el : ${request}" class="form-control-plaintext">

        <h2>Заявка №<span th:text="${el.id}"></span> от <span th:text="${el.requestDate}"></span></h2><br><br>

        <ul class="list-group">

            <li class="list-group-item"><b>Клиент: </b><span th:text="${el.name}"></span></li>
            <li class="list-group-item"><b>Фирма: </b><span th:text="${el.company}"></span></li>
            <li class="list-group-item"><b>Вид обслуживания: </b><span th:text="${el.workType}"></span></li>
            <li class="list-group-item"><b>Вид работ: </b><span th:text="${el.workList}"></span></li>
            <li class="list-group-item"><b>Дополнительная информация: </b><span th:text="${el.addInfo}"></span></li>
            <li class="list-group-item"><b>Статус заявки: </b><span th:text="${el.requestStatus}"></span></li>
            <li class="list-group-item"><b>Ответственный: </b><span th:text="${el.responsible}"></span></li>
            <li sec:authorize="hasAnyAuthority('SPECIALIST', 'ADMIN')" class="list-group-item"><b>Время выполнения: </b><span th:text="${el.workDuration}"></span></li>

        </ul>
        <br><br>

        <a th:href="@{/request/{request_id}/edit(request_id=${el.id})}" class = "btn btn-warning">Редактировать</a><br><br>

    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>