<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.www.thymeleaf.org/extras/spring-security">
<head>
    <title>Редактирование заявки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <div th:each="el : ${request}">
        <h3>Редактирование заявки №<span th:text="${el.id}"></span> от <span th:text="${el.requestDate}"></span></h3>
        <br><br>
        <form method="post">
        <ul class="list-group">

            <li class="list-group-item"><b>Клиент: </b><span th:text="${el.name}"></span></li>
            <li class="list-group-item"><b>Фирма: </b><span th:text="${el.company}"></span></li>
            <li class="list-group-item"><b>Вид обслуживания: </b><span th:text="${el.workType}"></span></li>
            <li class="list-group-item"><b>Вид работ: </b><span th:text="${el.workList}"></span></li>
            <li class="list-group-item"><b>Дополнительная информация от клиента: </b><span th:text="${el.addInfo}"></span></li>
            <li sec:authorize="hasAuthority('SPECIALIST')" class="list-group-item"><b>Ответственный: </b><span th:text="${el.responsible}"></span></li>

        </ul>

        <br><br>

            Статус заявки:
            <span>
                <select name="requestStatus" class="form-control">
                <option th:text="${el.requestStatus}"  th:value="${el.requestStatus}" selected></option>
            <option th:each="option : ${T(com.darkcircle.crmProject.enums.RequestStatus).values()}"
                    th:value="${option.displayValue}" th:text="${option.displayValue}"></option>
            </select>

            </span>
            <br>
            <div sec:authorize="hasAuthority('ADMIN')">
                <p>
                    <label for="responsible">Ответственный: </label>
                    <select name="responsible" class="form-control" id=responsible>
                        <div th:each="el: ${specialists}">
                            <option th:value="${el}" th:text="${el}"></option>
                        </div>
                    </select>
                </p>
            </div>
            <br>
            Время выполнения:
            <input type="text" th:value="${el.workDuration}" name="workDuration" placeholder="Введите время выполнения"
                   class="form-control"><br><br>

            <button type="submit" class="btn btn-success">Обновить</button>

        </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>