<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Здравствуйте, <span th:text="${usr.name}"></span>!</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a th:href="@{/specialist/{id}/request(id=${usr.id})}" class="p-2 text-dark">Создать новую заявку</a>
            <a class="p-2 text-dark" href="/request/all/0" >Просмотреть все заявки</a>
            <a class="p-2 text-dark" href="/report" >Создать отчет</a>
            <a class="p-2 text-dark" href="/logout">Выйти</a>
        </nav>
    </div>
</div>